# Private Keys & Configurations
.env

# Virtual Environment & Python Caches
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local & Temporary Folders
temp/*
!temp/.gitkeep

# Outputs & Reports
output/
report/

# Large Datasets & Local Database Files
database/
*.db
*.sqlite
*.sqlite3
*.xlsx
*.csv
!database/README.md
!database/metadata/
!database/metadata/moc_product_metadata.csv

# Compiled Executables
bin/x13as.exe

# System Files
.DS_Store
Thumbs.db
