# Private Keys & Configurations
.env

# Virtual Environment & Python Caches
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local & Temporary Folders
temp/
.agents/

# Large Datasets & Local Database Files
output/data/database/
*.db
*.xlsx
*.csv
!database/metadata/moc_product_metadata.csv

# Compiled Executables
bin/x13as.exe

# System Files
.DS_Store
Thumbs.db
